body {
    background-color: lavenderblush;
    font-family: sans-serif, DFKai-SB, Microsoft JhengHei
}

.title {
    background-color: purple;
    color: white;
    font-size: 32px;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    margin: 12px;
}

.subtitle {
    background-color: rgb(78, 226, 78);
    color: deeppink;
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
}

#container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.text-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 5px;
}

.text-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px rgb(9, 8, 20) solid;
    background-color: rgb(66, 125, 235);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 5px;
}

.text-3 {
    font-size: 24px;
    color: saddlebrown;
}

#good-link a {
    font-size: 20px;
    text-decoration: none;
    color: tomato
}

#picture img {
    border-radius: 6px;
}

table {
    width: 90%;
    margin: 10px auto;
    height: 200px;
}

th {
    background-color: midnightblue;
    color: mintcream;
}

td:first-child {
    background-color: lightseagreen;
    color: lightyellow;
}

td {
    background-color: mediumaquamarine;
    color: linen;
}

input,
button,
textarea {
    font-size: 1rem;
    padding: 5px;
}

form {
    background-color: rgb(243, 221, 179);
    padding: 10px;
}

button {
    width: 150px;
    background-color: rgb(115, 55, 226);
    color: rgb(63, 219, 110);
    border: 0;
    padding: 5px;
}